.post-cards-wrapper.project-list {
    .project-list-header {
        display: flex;
        border-bottom: 1px solid #bebebe;
        padding-bottom: 10px;
        .col-40 {
            width: 40%;
            h4 {
                font-weight: 600;
            }
        }
        .col-15 {
            width: 15%;
            h4 {
                font-weight: 600;
            }
        }
    }
    .project-list-content {
        display: flex;
        border-bottom: 1px solid #bebebe;
        .col-40 {
            width: 40%;
            padding: 20px 10px 20px 0;
            p {
                line-height: 1.5em;
            }
        }
        .col-15 {
            width: 15%;
            padding: 20px 0;
            p {
                line-height: 1.5em;
            }
        }
    }
    
}

@media only screen and (max-width: 767px) {
    .card-and-loader-wrapper {
        .project-list-header {
            display: none!important;
        }
        .project-list-content {
            flex-wrap: wrap;     
            padding: 15px 0px;       
            .col-40, .col-15 {
                padding: 10px 10px 10px 0!important;
                width: 100%!important;
                &::before {
                    content: attr(list-label);
                    font-weight: 600;
                    font-family: Avenir Next;
                }
            }
        }  
    } 
}