.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #91D6AC;
    border-color: #91D6AC transparent #91D6AC transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  