.post-search {
    > .wp-block-search__inside-wrapper {
        padding: 0 15px !important;
        text-align: center;
        margin-right: 10px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #aea4a4 !important;
        border-radius: 2em;
        input {
            color: #4E595C;
        }
        .wp-block-search__button.has-icon {
            padding: 0;
            border: 0;
            background: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.59' height='18' viewBox='0 0 17.59 18'%3E%3Cpath id='icons8-search' d='M15.169,6.149a6.969,6.969,0,1,0,4.074,12.619l5.394,5.381L25.789,23l-5.33-5.342a6.969,6.969,0,0,0-5.291-11.5Zm0,.82a6.149,6.149,0,1,1-6.149,6.149A6.143,6.143,0,0,1,15.169,6.969Z' transform='translate(-8.199 -6.149)' fill='%234e595c'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            width: 24px;
            height: 30px;
            background-size: 79%;
            #search-icon {
                display: none;
            }
        }
    }
}
